.catslider {
  width: 100%;
  height: auto;
  /* padding: 30px 0px; */
}
.cat_slider_main .items {
  height: auto;
  border-radius: 10px!important;
  padding: 10px 3px;
}
.cat_slider_main .slick-slide {
  padding-right: 17px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
 
  
}
.info:hover{
  box-shadow: 0px 3px 6px rgb(0,0,0,0.16), 0px 3px 6px rgb(0,0,0,0.23);
}
.info:hover img{
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}
.info:hover h6{
  color: #3bb77e;
  transition: all 0.4s ease-in-out;
}
.items .info img {
  max-width: 80px;
}
.cat_slider_main .slick-next {
  top: -50px!important;
  right:15px!important;
}
.cat_slider_main .slick-prev {
 left: inherit!important;
  right:81px!important;
  top: -50px!important;
}
.slick-arrow{
  zoom: 80%;
}