.listing-page {
  width: 100%;
  height: auto;
  padding: 45px 0;
}
.bread-crumb {
  width: 100%;
  height: auto;
  padding: 45px 25px;
  background: #d8f1e5;
  border-radius: 20px;
  margin-bottom: 20px;
}
.bread-crumb h1 {
  color: black;
  opacity: 0.7;
  font-size: 50px;
  font-weight: bold;
}
.listing-page ul li a {
  text-decoration: none;
}
.listing-page ul li {
  margin: 0px !important;
}
.filter ul li {
  list-style: none;
  text-decoration: none;
}
.filter ul {
  padding: 0px !important;
  margin-left: -10px;
}
.filter-card {
  max-height: 1032px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.filter-card ul {
  padding: 0px;
}
.filter-card ul li {
  list-style: none;
}
.filter-card button {
  background-color: #3bb77e;
  color: white;
  text-transform: lowercase;
}
.filter-card button:hover {
  background-color: #fdc040;
}
.listing-data .slick-slide {
  width: 247px !important;
}
.right-content {
  max-width: 80%;
}
.listing-prod img {
  width: 156px;
}
.listing-prod .overlay {
  width: 100%;
}
.listing-row .productitem {
  padding: 0 15px !important;
}
.right-content .top-strip .btn {
  padding: 11px 7px;
  background: none !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  font-size: 12px;
  color: gray !important;
  font-weight: 400;
  text-align: center;
  display: flex;
  gap: 5px;
  border-radius: 11px;
}
.right-content .btn svg {
  font-size: 18px !important;
  font-weight: 400;
}
.top-strip h6 {
  color: gray;
}
.tab_ {
  position: relative;
}
.tab_ .dropdownMenue {
  position: absolute;
  list-style: none;
  top: 44px;
  left: -2px;
  width: 103%;
  height: auto;
  background: #fff;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.05);
  font-weight: 400;
  padding-left: 25px;
  border-radius: 10px;
  border: 1px solid #ececec;
  z-index: 100;
}
.tab_ .dropdownMenue button {
  text-transform: capitalize;
  width: 128%;
  justify-content: left;
  font-size: 13px;
  color: gray !important;
  padding: 5px 13px;
  border-radius: 0px;
  margin-left: -25px;
}
.tab_ .dropdownMenue button svg{
  color: #3bb77e;
  font-size: 15px;
  margin-right: 5px;
}
.tab_ .dropdownMenue1 button svg{
  color: #3bb77e;
  font-size: 15px;
  margin-right: 5px;
}
.tab_ .dropdownMenue1 {
  position: absolute;
  list-style: none;
  top: 44px;
  left: 14px;
  width: 85%;
  height: auto;
  background: #fff;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.05);
  font-weight: 400;
  padding-left: 25px;
  border-radius: 10px;
  border: 1px solid #ececec;
  z-index: 100;
}
.tab_ .dropdownMenue1 button {
  text-transform: capitalize;
  width: 128%;
  justify-content: left;
  font-size: 13px;
  color: gray !important;
  padding: 5px 13px;
  border-radius: 0px;
  margin-left: -25px;
}
